### Data Structure in Python ###

Help in storing and organizing data components efficiently

In Python, we have multiple in-built d    
s
All ds serve different purpose and have unique characteristics

## Lists ##

Ordered
all elements are mutable (changed)
Always in [ ]
output is also a list
Example: Shopping Cart, Task Managementent**

In [8]:
# Creating a list
my_list = [1, 2, 3, 4, 5]
# Accessing elements
print(my_list[0]) # Output: 1
# Adding elements
my_list.append(6)
print(my_list) # Output: [1, 2, 3, 4, 5, 6]
# Removing elements
my_list.remove(2)
print(my_list) # Output: [1, 3, 4, 5, 6]
# Slicing
print(my_list[1:4]) # Output: [3, 4, 5]

1
[1, 2, 3, 4, 5, 6]
[1, 3, 4, 5, 6]
[3, 4, 5]

**Tuples**
cannot be changed (unmutable)
heterogenous elements are stored
always created within ( )
Only you can access the elements
Example: Geographic Coordinates, Database storage

In [13]:
# Creating a tuple
my_tuple = (1, 2, 3, 4, 5)
# Accessing elements
print(my_tuple[0]) # Output: 1
# Tuples are immutable
# my_tuple[1] = 10 # This will raise a TypeError
# Slicing
print(my_tuple[1:4]) # Output: (2, 3, 4)

1
(2, 3, 4)

## Dictionaries ##
can be created in { 
}
created in pair of Keys : Valu
es
they are muta
ble
keys are always unique, values can be duplic
ated
Example: Movie database, Books dat
abase

In [17]:
# Creating a dictionary
my_dict = {'name': 'Alice',
 'age': 25,
 'city': 'New York'}
# Accessing values
print(my_dict['name']) # Output: Alice
# Adding key-value pairs
my_dict['email'] = 'alice@example.com'
print(my_dict) # Output: {'name': 'Alice', 'age': 25, 'city': 'New York','email': 'alice@example.com'}
# Removing key-value pairs
del my_dict['age']
print(my_dict) # Output: {'name': 'Alice', 'city': 'New York', 'email': 'alice@example.com'}

Alice
{'name': 'Alice', 'age': 25, 'city': 'New York', 'email': 'alice@example.com'}
{'name': 'Alice', 'city': 'New York', 'email': 'alice@example.com'}

## Sets ##
unordered elements
unique elements
mutable
no inde
Example: Social Media Analytics, Website Analyticsng**

In [20]:
# Creating a set
my_set = {1, 2, 3, 4, 5}
# Adding elements
my_set.add(6)
print(my_set) # Output: {1, 2, 3, 4, 5, 6}
# Removing elements
my_set.remove(3)
print(my_set) # Output: {1, 2, 4, 5, 6}
# Set operations
another_set = {4, 5, 6, 7, 8}
print(my_set & another_set) # Output: {4, 5, 6} (intersection)
print(my_set | another_set) # Output: {1, 2, 4, 5, 6, 7, 8} (union)
print(my_set - another_set) # Output: {1, 2} (difference)
print(another_set - my_set) # Output: {8, 7} (difference)

{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}
{4, 5, 6}
{1, 2, 4, 5, 6, 7, 8}
{1, 2}
{8, 7}

In [22]:
## How can you convert a list of tuples into a dictionary in Python?
list_of_tuples = [('name', 'Alice'), ('age', 25), ('city', 'New York')]
my_dict = dict(list_of_tuples)
print(my_dict) # Output: {'name': 'Alice', 'age': 25, 'city': 'New York'}
students = [('Akalu', (80, 91, 88)), ('Sam', (82, 92, 93))]
students_dict = {names: grades for names, grades in students}
print(students_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}
{'Akalu': (80, 91, 88), 'Sam': (82, 92, 93)}

In [26]:
## How can you merge two dictionaries in Python?
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'New York', 'email': 'alice@example.com'}
# Using update()
dict1.update(dict2)
print(dict1) # Output: {'name': 'Alice', 'age': 25, 'city': 'New York', 'email': 'alice@example.com'}
# Using dictionary unpacking (Python 3.5+)
merged_dict = {**dict1, **dict2}
print(merged_dict) # Output: {'name': 'Alice', 'age': 25, 'city': 'New York', 'email': 'alice@example.com'}

{'name': 'Alice', 'age': 25, 'city': 'New York', 'email': 'alice@example.com'}
{'name': 'Alice', 'age': 25, 'city': 'New York', 'email': 'alice@example.com'}

**What are the main differences between lists and
tuples in Python**?**
Answe**r:
Mutability: Lists are mutable (elements can be changed), whereas tuples are
immutable (elements cannot be changed).
Syntax: Lists use square brackets [], while tuples use parentheses ().
Performance: Tuples are generally faster than lists because they are immutable.
Usage: Tuples are used for heterogeneous data (different data types), and lists are
used for homogeneous data (similar data types).

In [32]:

# How do you reverse a list in Python?
my_list = [1, 2, 3, 4, 5]
# Using reverse() method
my_list.reverse()
print(my_list) # Output: [5, 4, 3, 2, 1]
# Using slicing
my_list = [1, 2, 3, 4, 5]
reversed_list = my_list[::-1]
print(reversed_list) # Output: [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]

In [34]:
# How can you sort a list in Python?
my_list = [3, 1, 4, 1, 5, 9]
# Using sort() method (sorts in-place)
my_list.sort(reverse=True)
print(my_list) # Output: [9, 5, 4, 3, 1, 1]
# Using sorted() function (returns a new sorted list)
sorted_list = sorted(my_list)
print(sorted_list) # Output: [1, 1, 3, 4, 5, 9]

[9, 5, 4, 3, 1, 1]
[1, 1, 3, 4, 5, 9]

In [38]:
# How can you concatenate two tuples in Python?
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple) # Output: (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

### Practice ###
**Lists:**

*Question* - Appending and Removing Elements: Create an empty list called my_list. Append
the numbers 1, 2, and 3 to my_list. Then remove the number 2 from the list.

In [68]:
my_list = []
#Append the number 1,2,3
my_list.append([1,2,3])
print(my_list)
#Remove the number 2
my_list.remove(2)
print(my_list)

[[1, 2, 3]]

ValueError: list.remove(x): x not in list

In [121]:
# Creating an empty list
my_list = []

# Appending numbers to the list
my_list.append(1)
my_list.append(2)
my_list.append(3)

# Removing the number 2 from the list
my_list.remove(2)

# Printing the final list
print(my_list)

[1, 3]

**Question**- Accessing Elements: Create a list called fruits containing the strings "apple",
"banana", "cherry", "date". Print the second element of the list.

In [72]:
fruits = [ "apple", "banana", "cherry", "date"]
print(fruits[1])

banana

**Question-** Slicing: Create a list called numbers containing the numbers from 1 to 10. Print a
slice of the list containing elements from the third element to the sixth element.

In [79]:
numbers = [1,2,3,4,5,6,7,8,9,10]
#slicing
print(numbers[3:7])

[4, 5, 6, 7]

### Sets ###** 
Questio **n - Adding and Removing Elements: Create an empty set called my_set. Add the
numbers 1, 2, and 3 to my_set. Then remove the number 2 from the set.

In [92]:
my_set = {1,2,3}
#remove the number 2 
my_set.remove(2)
print(my_set)

{1, 3}

### Question ###  
- Operations: Create two sets called set1 and set2, each containing a few
numbers. Print the union, intersection, and difference of the two sets.

In [110]:
set1 = {12,23,34,45}
set2 = {56,67,78,89}

print(set1 & set2) #intersection
print(set1 | set2) #Union
print(set1 - set2) #Difference

set()
{34, 67, 12, 45, 78, 23, 56, 89}
{34, 12, 45, 23}

## Tuples ##
Question - Accessing Elements: Create a tuple called coordinates containing the latitude
and longitude of a location (e.g., (40.7128, -74.0060) for New York City). Print the latitude
and longitude separately.

In [113]:
# Creating the tuple
coordinates = (40.7128, -74.0060)

# Printing the latitude and longitude separately
latitude = coordinates[0]
longitude = coordinates[1]

print("Latitude:", latitude)
print("Longitude:", longitude)

Latitude: 40.7128
Longitude: -74.006

## Question ##
- Packing and Unpacking: Create a tuple called person containing information
about a person, such as their name, age, and city. Then unpack the tuple into individual
variables.

In [119]:
# Creating the tuple
person = ("John", 30, "New York")

# Unpacking the tuple into individual variables
name, age, city = person

# Printing the unpacked variables
print("Name:", name)
print("Age:", age)
print("City:", city)

Name: John
Age: 30
City: New York